<app-spinner [open]="isLoading"></app-spinner>
<app-alert *ngIf="alert" [data]="alert"></app-alert>

<div *ngIf="codeMap">
  <md-card>
    <md-tab-group>
      <md-tab label="조회조건 선택">
        <form (ngSubmit)="onSubmit()" #queryForm="ngForm">
          <md-card-title class="mt-3 mb-4">조회조건 선택</md-card-title>
          <md-card-content>
            <div class="flex-container my-3" fxLayout="row" fxLayoutAlign="center center">
              <div>
                <md-select class="w-100" placeholder="조회 조건" [(ngModel)]="model.condition" name="condition" required>
                  <md-option *ngFor="let item of personalInfo | keys" [value]="item.key">{{ item.value }}</md-option>
                </md-select>
              </div>
              <div fxFlex="3 3 calc(10em + 0.5rem)" class="ml-2">
                <md-select class="w-100" multiple placeholder="설문 선택" [(ngModel)]="model.surveys" name="surveys" required>
                  <div class="md-opt-group" *ngFor="let entry of surveyMap | mapEntries">
                    <md-opt-group label="{{ surveyInfo[entry.key] }}"></md-opt-group>
                    <md-option *ngFor="let item of entry.value" [value]="item.key">{{ item.value }}</md-option>
                  </div>
                </md-select>
              </div>
            </div>
            <md-input-container class="w-100 my-3">
              <input mdInput placeholder="조회 대상 학번" [(ngModel)]="model.idStartsWith" name="idStartsWith">
            </md-input-container>
          </md-card-content>
          <md-card-actions class="mx-auto">
            <button class="float-sm-right" type="submit" md-raised-button [disabled]="!queryForm.form.valid" color="primary">조회</button>
          </md-card-actions>
        </form>
      </md-tab>
      <md-tab *ngIf="dataQueried" label="조회 결과">
        <app-stats-result [chart]="chart" [stack]="stacked" (before)="handleBefore()" (success)="handleSuccess()" (error)="handleError()"></app-stats-result>
      </md-tab>
      <md-tab *ngIf="dataQueried" label="내보내기">
        <app-stats-export [model]="model" [chart]="chart" [codeMap]="codeMap" (before)="handleBefore()" (success)="handleSuccess()" (error)="handleError()"></app-stats-export>
      </md-tab>
    </md-tab-group>
  </md-card>
</div>
