<form (ngSubmit)="onSubmit()" #queryForm="ngForm">
  <md-card-title class="mt-3">데이터 가져오기</md-card-title>
  <md-card-content>
    <md-select class="w-100 my-3" placeholder="데이터 파일" [(ngModel)]="model.dataFile" name="dataFile" required>
      <md-option *ngFor="let file of files" [value]="file">{{ file }}</md-option>
    </md-select>
    <md-select class="w-100 my-3" placeholder="코드북 파일" [(ngModel)]="model.codeMapFile" name="codeMapFile" required>
      <md-option *ngFor="let file of files" [value]="file">{{ file }}</md-option>
    </md-select>
    <md-input-container class="w-100 my-2">
      <input mdInput placeholder="데이터 파일 암호" [(ngModel)]="model.password" name="password" type="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions class="mx-auto">
    <button class="float-sm-right" type="submit" md-raised-button [disabled]="!queryForm.form.valid" color="primary">가져오기</button>
  </md-card-actions>
</form>
