<form (ngSubmit)="onSubmit()">
  <md-card-title class="mt-3">내보내기</md-card-title>
  <md-card-content>
    <p>조회한 설문조사 결과를 Excel 형식으로 내보냅니다.</p>
    <hr>
    <div>
      <h3>조회 조건</h3>
      <span>{{ selectedCondition }}</span>
    </div>
    <hr>
    <div>
      <h3>선택한 설문</h3>
      <span>{{ selectedSurveys }}</span>
    </div>
    <hr *ngIf="model.idStartsWith">
    <div *ngIf="model.idStartsWith">
      <h3>조회 대상 학번</h3>
      <span>{{ model.idStartsWith }}</span>
    </div>
  </md-card-content>
  <md-card-actions class="mx-auto">
    <button class="float-sm-right" type="submit" md-raised-button color="primary">내보내기</button>
  </md-card-actions>
</form>
